@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<div class="text-center">
    <h1 class="display-4">Welcome Friends!</h1>
    

    <br /><br />
                <center>
                    
                    <img src="~/NewFolder/JoelHiltonHeadshot.jpg" />
                    @* Funny pic. This comes from the httproot file because it is static *@
                </center>
</div>

